# Bootcamp-Project-2-Data-Analysis
## =================
# Group members

- Fay Alenezi 
- Omar Alnasser
- Hisham Altayieb

## This analysis process will contain the following questions:
    -Which is Which genres are most popular from year to year?
    -Which is What kinds of properties are associated with movies that have high revenues?

## Importing and loading DFs, and the libraries

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 
from datetime import datetime, timedelta

df_mv = pd.read_csv('tmdb-movies.csv')

# Exploratory Data Analysis

In [2]:
df_mv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

## ==============================================================

In [3]:
#getting the datas mean, std, ...
df_mv.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

## =======================================================================

In [4]:
#the average rating of movies
print("The average rating of movies in our dataset is:", df_mv["vote_average"].mean())

The average rating of movies in our dataset is: 5.974921774342001

## =======================================================================

In [5]:
#10 most used genres in our dataset
print("Top 10 used genres in our dataset:")
df_mv["genres"].value_counts().head(10)

Top 10 used genres in our dataset:

Comedy                  712
Drama                   712
Documentary             312
Drama|Romance           289
Comedy|Drama            280
Comedy|Romance          268
Horror|Thriller         259
Horror                  253
Comedy|Drama|Romance    222
Drama|Thriller          138
Name: genres, dtype: int64

## =======================================================================

In [6]:
#directors with the most number of movies made
print("directors with the number of movies they made:")
df_mv['director'].value_counts().head(10)

directors with the number of movies they made:

Woody Allen          45
Clint Eastwood       34
Martin Scorsese      29
Steven Spielberg     29
Ridley Scott         23
Steven Soderbergh    22
Ron Howard           22
Joel Schumacher      21
Brian De Palma       20
Tim Burton           19
Name: director, dtype: int64

## =======================================================================

## Data Cleaning

- ### Drop columns that will not be using:

In [7]:
# Here we selecting columns we will not be using to drop it.
DropCol = ['imdb_id', 'cast','homepage','tagline','keywords','overview']
# Dropping columns
df_mv = df_mv.drop(DropCol, axis=1)

- ### Handling the NaN values, missing values, duplicated data and zero values.

##### Handling the NaN values.

In [8]:
# First We want to find the column that has NaN values.
df_mv.isnull().sum()

id                         0
popularity                 0
budget                     0
revenue                    0
original_title             0
director                  44
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

- From the previous output we know now that only three columns that have NaN values director, genres and production_companies.

In [9]:
# First will select the column we want.
NaNCol = ['director','genres','production_companies']

# Will use .fillna to replace all the NaN values with 'Unknown'
df_mv[NaNCol] = df_mv[NaNCol].fillna('Unknown') 

# checking
df_mv.isnull().sum()

id                      0
popularity              0
budget                  0
revenue                 0
original_title          0
director                0
runtime                 0
genres                  0
production_companies    0
release_date            0
vote_count              0
vote_average            0
release_year            0
budget_adj              0
revenue_adj             0
dtype: int64

## =======================================================================

##### Handling the Zeros values:

- ##### Some rows in the budget_adj were zeros so we replaced them with the mean.

In [10]:
df_mv.loc[30,'budget_adj']

0.0

In [11]:
df_mv['budget_adj'].mean()

17551039.822886847

In [12]:
df_mv['budget_adj'].replace(0,df_mv['budget_adj'].mean(axis=0),inplace=True)

In [13]:
df_mv.loc[30,'budget_adj']

17551039.822886847

- ##### Some rows in the revenue_adj were zeros so we replaced them with the mean value

In [14]:
df_mv.loc[48,'revenue_adj']

0.0

In [15]:
df_mv['revenue_adj'].mean()

51364363.25325093

In [16]:
df_mv['revenue_adj'].replace(0,df_mv['revenue_adj'].mean(axis=0),inplace=True)

In [17]:
df_mv.loc[48,'revenue_adj'] #to make sure

51364363.25325093

- ##### Some rows in the revenue were zeros so we replaced them with the mean value

In [18]:
df_mv.loc[48,'revenue']

0

In [19]:
df_mv['revenue'].mean()

39823319.79339223

In [20]:
df_mv['revenue'].replace(0,df_mv['revenue'].mean(axis=0),inplace=True)

In [21]:
df_mv.loc[48,'revenue']

39823319.79339223

- ##### Some rows in the budget were zeros so we replaced them with the mean value

In [22]:
df_mv.loc[30,'budget']

0

In [23]:
df_mv['budget'].mean()

14625701.09414688

In [24]:
df_mv['budget'].replace(0,df_mv['budget'].mean(axis=0),inplace=True)

In [25]:
df_mv.loc[30,'budget']

14625701.09414688

## =======================================================================

##### Handling the duplicated data:

In [26]:
# First we check if there is any duplication.
df_mv.duplicated().sum()

1

- From the previous output we now know that there is one duplicated row.

In [27]:
# Dropping the duplicated rows.
df_mv.drop_duplicates(inplace=True)

In [28]:
# Checking
df_mv.duplicated().sum()

0

## =======================================================================


###  Question 1 (Which genres are most popular from year to year?)

There are 21 genres in the dataset so now we will look into what is the most popular for each year after separating them for every single genre.

In [29]:
selected_columns = df_mv[["genres","release_year"]]
new_df = selected_columns.copy()
new_df

                                          genres  release_year
0      Action|Adventure|Science Fiction|Thriller          2015
1      Action|Adventure|Science Fiction|Thriller          2015
2             Adventure|Science Fiction|Thriller          2015
3       Action|Adventure|Science Fiction|Fantasy          2015
4                          Action|Crime|Thriller          2015
...                                          ...           ...
10861                                Documentary          1966
10862                     Action|Adventure|Drama          1966
10863                             Mystery|Comedy          1966
10864                              Action|Comedy          1966
10865                                     Horror          1966

[10865 rows x 2 columns]

In [30]:
genre_count = dict()

genre = list(new_df['genres'])

for items in genre:
    genre_item = items.split('|')
    for item in genre_item:
        if item in genre_count.keys():
            genre_count[item] += 1
        else:
            genre_count[item] = 1
genre_count

{'Action': 2384,
 'Adventure': 1471,
 'Science Fiction': 1229,
 'Thriller': 2907,
 'Fantasy': 916,
 'Crime': 1354,
 'Western': 165,
 'Drama': 4760,
 'Family': 1231,
 'Animation': 699,
 'Comedy': 3793,
 'Mystery': 810,
 'Romance': 1712,
 'War': 270,
 'History': 334,
 'Music': 408,
 'Horror': 1637,
 'Documentary': 520,
 'TV Movie': 167,
 'Unknown': 23,
 'Foreign': 188}

In [31]:
df1 = new_df.join(new_df['genres'].str.split('|', expand=True)).drop('genres', axis=1)

df_final = (pd.melt(df1, id_vars=['release_year']).groupby(['release_year', 'value']).count()
            .rename(columns={'variable':'count'}).reset_index() )




df_final

      release_year      value  count
0             1960     Action      8
1             1960  Adventure      5
2             1960     Comedy      8
3             1960      Crime      2
4             1960      Drama     13
...            ...        ...    ...
1059          2015   TV Movie     20
1060          2015   Thriller    171
1061          2015    Unknown      2
1062          2015        War      9
1063          2015    Western      6

[1064 rows x 3 columns]

In [32]:
df_max = df_final.merge(df_final.groupby(['release_year'])['count'].max().reset_index(), left_on=['release_year', 'count'],
                right_on=['release_year', 'count'], how='right')
df_max

    release_year   value  count
0           1960   Drama     13
1           1961   Drama     16
2           1962   Drama     21
3           1963  Comedy     13
4           1963   Drama     13
5           1964   Drama     20
6           1965   Drama     20
7           1966  Comedy     16
8           1966   Drama     16
9           1967  Comedy     17
10          1968   Drama     20
11          1969   Drama     13
12          1970   Drama     19
13          1971   Drama     30
14          1972   Drama     16
15          1973   Drama     31
16          1974   Drama     21
17          1975   Drama     17
18          1976   Drama     22
19          1977   Drama     24
20          1978   Drama     29
21          1979   Drama     30
22          1980   Drama     32
23          1981   Drama     32
24          1982   Drama     33
25          1983   Drama     35
26          1984   Drama     40
27          1985  Comedy     51
28          1986   Drama     51
29          1987  Comedy     57
30          1988  Comedy     69
31          1989  Comedy     63
32          1990   Drama     60
33          1991   Drama     63
34          1992   Drama     65
35          1993   Drama     90
36          1994  Comedy     88
37          1995   Drama     93
38          1996   Drama    104
39          1997   Drama     83
40          1998   Drama    108
41          1999   Drama    113
42          2000   Drama    101
43          2001  Comedy    101
44          2002   Drama    130
45          2003  Comedy    111
46          2004   Drama    141
47          2005   Drama    182
48          2006   Drama    197
49          2007   Drama    197
50          2008   Drama    233
51          2009   Drama    224
52          2010   Drama    210
53          2011   Drama    214
54          2012   Drama    232
55          2013   Drama    253
56          2014   Drama    284
57          2015   Drama    260

In [33]:
df_max.query('value == "Drama"').count()

release_year    48
value           48
count           48
dtype: int64

In [36]:
df_max.query('value == "Drama"').sum()

release_year                                                95386
value           DramaDramaDramaDramaDramaDramaDramaDramaDramaD...
count                                                        4251
dtype: object

## ==================================================================


###  Question 2 (Which is What kinds of properties are associated with movies that have high revenues?)

## ==================================================================

# Conclusions