# Bootcamp-Project-2-Data-Analysis
## =================
# Group members

- Fay Alenezi 
- Omar Alnasser
- Hisham Altayieb

## This analysis process will contain the following questions:
    -Which is Which genres are most popular from year to year?
    -Which is What kinds of properties are associated with movies that have high revenues?

## Importing and loading DFs, and the libraries

In [32]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 
from datetime import datetime, timedelta

df_mv = pd.read_csv('tmdb-movies.csv')

# Exploratory Data Analysis

In [33]:
df_mv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

## ==============================================================

In [34]:
#getting the datas mean, std, ...
df_mv.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

## =======================================================================

In [35]:
#the average rating of movies
print("The average rating of movies in our dataset is:", df_mv["vote_average"].mean())

The average rating of movies in our dataset is: 5.9749217743419845

## =======================================================================

In [36]:
#10 most used genres in our dataset
print("Top 10 used genres in our dataset:")
df_mv["genres"].value_counts().head(10)

Top 10 used genres in our dataset:

Comedy                  712
Drama                   712
Documentary             312
Drama|Romance           289
Comedy|Drama            280
Comedy|Romance          268
Horror|Thriller         259
Horror                  253
Comedy|Drama|Romance    222
Drama|Thriller          138
Name: genres, dtype: int64

## =======================================================================

In [37]:
#directors with the most number of movies made
print("directors with the number of movies they made:")
df_mv['director'].value_counts().head(10)

directors with the number of movies they made:

Woody Allen          45
Clint Eastwood       34
Martin Scorsese      29
Steven Spielberg     29
Ridley Scott         23
Steven Soderbergh    22
Ron Howard           22
Joel Schumacher      21
Brian De Palma       20
Tim Burton           19
Name: director, dtype: int64

## =======================================================================

## Data Cleaning

- ### Drop columns that will not be using:

In [38]:
# Here we selecting columns we will not be using to drop it.
DropCol = ['imdb_id', 'cast','homepage','tagline','keywords','overview']
# Dropping columns
df_mv = df_mv.drop(DropCol, axis=1)

- ### Handling the NaN values, missing values, duplicated data and zero values.

##### Handling the NaN values.

In [39]:
# First We want to find the column that has NaN values.
df_mv.isnull().sum()

id                         0
popularity                 0
budget                     0
revenue                    0
original_title             0
director                  44
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

- From the previous output we know now that only three columns that have NaN values director, genres and production_companies.

In [40]:
# First will select the column we want.
NaNCol = ['director','genres','production_companies']

# Will use .fillna to replace all the NaN values with 'Unknown'
df_mv[NaNCol] = df_mv[NaNCol].fillna('Unknown') 

# checking
df_mv.isnull().sum()

id                      0
popularity              0
budget                  0
revenue                 0
original_title          0
director                0
runtime                 0
genres                  0
production_companies    0
release_date            0
vote_count              0
vote_average            0
release_year            0
budget_adj              0
revenue_adj             0
dtype: int64

## =======================================================================

##### Handling the Zeros values:

- ##### Some rows in the budget_adj were zeros so we replaced them with the mean.

In [41]:
df_mv.loc[30,'budget_adj']

0.0

In [42]:
df_mv['budget_adj'].mean()

17551039.82288678

In [43]:
df_mv['budget_adj'].replace(0,df_mv['budget_adj'].mean(axis=0),inplace=True)

In [44]:
df_mv.loc[30,'budget_adj']

17551039.82288678

- ##### Some rows in the revenue_adj were zeros so we replaced them with the mean value

In [45]:
df_mv.loc[48,'revenue_adj']

0.0

In [46]:
df_mv['revenue_adj'].mean()

51364363.25325099

In [47]:
df_mv['revenue_adj'].replace(0,df_mv['revenue_adj'].mean(axis=0),inplace=True)

In [48]:
df_mv.loc[48,'revenue_adj'] #to make sure

51364363.25325099

- ##### Some rows in the revenue were zeros so we replaced them with the mean value

In [49]:
df_mv.loc[48,'revenue']

0

In [50]:
df_mv['revenue'].mean()

39823319.79339223

In [51]:
df_mv['revenue'].replace(0,df_mv['revenue'].mean(axis=0),inplace=True)

In [52]:
df_mv.loc[48,'revenue']

39823319.79339223

- ##### Some rows in the budget were zeros so we replaced them with the mean value

In [53]:
df_mv.loc[30,'budget']

0

In [54]:
df_mv['budget'].mean()

14625701.09414688

In [55]:
df_mv['budget'].replace(0,df_mv['budget'].mean(axis=0),inplace=True)

In [56]:
df_mv.loc[30,'budget']

14625701.09414688

## =======================================================================

##### Handling the duplicated data:

In [57]:
# First we check if there is any duplication.
df_mv.duplicated().sum()

1

- From the previous output we now know that there is one duplicated row.

In [58]:
# Dropping the duplicated rows.
df_mv.drop_duplicates(inplace=True)

In [59]:
# Checking
df_mv.duplicated().sum()

0

## =======================================================================


###  Question 1 (Which genres are most popular from year to year?)

## ==================================================================


###  Question 2 (Which is What kinds of properties are associated with movies that have high revenues?)

## ==================================================================

# Conclusions